/* public/partas/css/kiha.css */

/* header */
.disabled_input {
    pointer-events: none;
    background: #d9d9d9 !important;
}

.breadcrumbs {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 2px;
}

.datetime_home {
    color: #718EBF;
    font-weight: bold;
    font-size: 16px;
    margin-right: 16px;
}

@media screen and (min-width: 1600px) {
    .breadcrumbs {
        margin-right: 1px;
    }
}


@media screen and (max-width: 2560px) {
    .breadcrumbs {
        position: relative;
        left: 30px;
    }

    .total_pengajuan_spk {
        position: relative !important;
        left: 34.4px !important;
    }

    .menu_breadcrumbs {
        position: relative !important;
        left: 22px !important;
    }

    .text-dashboard {
        position: relative !important;
        right: 23px !important;
    }

    .my-custom-card {
        background-size: auto 200px !important;
        background-repeat: no-repeat;
        background-position: center;
        position: relative !important;
        right: -2px !important;
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
    }

    .button-logout {
        position: relative !important;
        right: -5px !important;
        line-height: 1px !important;
    }

    .datetime_home {
        position: relative !important;
        left: 16px !important;
        font-size: 14.8px !important;
    }
}

@media screen and (max-min: 2560px) {
    .breadcrumbs {
        position: relative;
        left: 34px;
    }

    .menu_breadcrumbs {
        position: relative;
        left: 22px;
    }

    .text-dashboard {
        position: relative;
        right: 23px;
    }

    .my-custom-card {
        background-size: auto 200px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        right: -2px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .button-logout {
        position: relative;
        right: -5px;
        line-height: 1px;
    }

    .datetime_home {
        position: relative;
        left: 16px;
        font-size: 14.8px;
    }
}

@media screen and (max-width: 1438px) {
    .breadcrumbs {
        position: relative !important;
        left: 32px !important;
    }

    .text-dashboard {
        position: relative !important;
        right: 24px !important;
    }

    .menu_breadcrumbs {
        position: relative !important;
        left: 22px !important;
    }

    .my-custom-card {
        background-size: auto 200px !important;
        background-repeat: no-repeat;
        background-position: center;
        position: relative !important;
        bottom: 2px;
        right: 1px !important;
        height: 158px;
        width: 365px;
        color: #FFFFFF;
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
    }

    .button-logout {
        position: relative !important;
        right: -2px !important;
        line-height: 1px !important;
    }

    .datetime_home {
        color: #718EBF !important;
        font-weight: bold !important;
        font-size: 14.8px !important;
        margin-right: 20px !important;
    }
}

@media screen and (max-width: 1024px) {
    .breadcrumbs {
        right: auto !important;
        left: 11px !important;
    }

    .dashboard_kihajar {
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 24.66px !important;
    }

    .username {
        font-size: 27px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow:
            ellipsis !important;
        line-height: 65.03px !important;
        font-weight: 700 !important;
    }

    .iconwallet {
        font-size: 30px !important;
        position: relative !important;
        left: 24px !important;
    }

    .icon_paypal {
        font-size: 30px !important;
        position: relative !important;
        left: 24px !important;
        top: 24px !important;
    }

    .title_card_pd {
        position: relative !important;
        top: 40px !important;
        text-align: center !important;
        font-weight: 700 !important;
        font-size: 14px !important;
    }

    .title_card_spk {
        position: relative !important;
        top: 44px !important;
        text-align: center !important;
        font-weight: 700 !important;
        font-size: 14px !important;
    }

    .permintaan_card_spk {
        position: relative !important;
        top: 51px !important;
        text-align: center !important;
        color: #A1AEC1 !important;
        font-weight: 700 !important;
        font-size: 11px !important;
    }

    .pengajuan_card_spk {
        position: relative !important;
        top: 75px !important;
        text-align: center !important;
        color: #A1AEC1 !important;
        font-weight: 700 !important;
        font-size: 11px !important;
    }

    .hr-card {
        width: 100% !important;
        border: 0 !important;
        height: 1px !important;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 181, 181, 0.75), rgba(0, 0, 0, 0)) !important;
    }

    .hr_spk_card {
        width: 100% !important;
        border: 0 !important;
        position: relative !important;
        top: 25px;
        height: 1px !important;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 181, 181, 0.75), rgba(0, 0, 0, 0)) !important;
    }

    .total-pengajuan {
        font-size: 20px !important;
        font-weight: 700 !important;
        position: relative !important;
        top: 94px !important;
        left: 44px !important;
    }

    .total-permintaan {
        font-size: 20px !important;
        font-weight: 700 !important;
        position: relative !important;
        top: 54px !important;
        left: 44px !important;
    }

}

.text-spk {
    position: relative;
    right: 1px;
    top: 7px;
    font-weight: 700;
    font-size: 1px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__link {
    text-decoration: none;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    color: #2D3748;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

/* end */


.text-sm {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.text-md {
    font-size: 15px;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}

.text-lg {
    font-size: 18px;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}

.padding-hormat {
    padding-left: 15px;
    padding-right: 21px;
}

.padding-detail {
    padding-left: 15px;
    padding-right: 28px;
}

.padding-project {
    padding-left: 15px;
    padding-right: 28px;
}

.padding-head {
    padding-left: 15px;
    padding-right: 20px;
}


.gap-3 {
    gap: 50px;
}

.pt-form-create {
    padding-top: 17px;
}

.pr-teks-pengajuan {
    padding-top: 17px;
}

.pt-form-pengajuan {
    padding-top: 17px;
}

.pt-form-pengajuan::after {
    content: "Detail";
    visibility: hidden;
}

.text-dashboard {
    margin-left: 42px;
    color: #2D3748;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-top: -18px;
    font-family: Helvetica, sans-serif;
    line-height: 19.6px;
}

.fiturjam {
    margin-right: 3%;
    color: #718EBF;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: -18px;
    font-family: Helvetica, sans-serif;
    line-height: 19.6px;
}

@media screen and (max-width: 990.00px) {
    .card-table-spk {
        margin-top: 20px;
    }

    .card-table-pd {
        margin-top: 20px;
    }
}

.text-form-detail {
    color: #2D3748;
}

.text-form-spk {
    color: #2D3748;
}

@media screen and (max-width: 500px) {
    .text-form-detail {
        font-size: 8px;
    }

    .text-form-spk {
        font-size: 8px;
    }


    .detail-text {
        font-size: 15px;
    }

    .hide-project {
        font-size: 15px;
    }

    .head-text {
        font-size: 15px;
    }

    .head-project {
        font-size: 15px;
    }


}

@media screen and (max-width: 555.56px) {
    .text-form-detail {
        font-size: 8px;
    }

    .text-form-spk {
        font-size: 8px;
    }

    .detail-text {
        font-size: 15px;
    }

    .hide-project {
        font-size: 15px;
    }

    .head-project {
        font-size: 15px;
    }
}

@media screen and (max-width: 990px) {
    .padding-project {
        padding-left: 15px;
        padding-right: 23px;
    }

    .padding-head {
        padding-left: 15px;
        padding-right: 21px;
    }

    .padding-Details {
        padding-left: 15px;
        padding-right: 23px;
    }
}

@media screen and (max-width: 1440px) {
    .text-mp {
        left: -7px;
        position: relative;
    }

    .breadcrumbs {
        margin-left: -9px !important;
    }

    .text-dashboard {
        padding-left: 1px;
    }

    .button-delete {
        margin-top: 6px;
        margin-left: 7px;
        height: 38px;
    }
}

@media screen and (max-width: 1455.56px) {
    .text-mp {
        padding-left: 0.6%;
    }
}

@media screen and (max-width: 1800px) {
    .text-dashboard {
        padding-right: 5px;
    }
}

@media screen and (max-width: 555.56px) {
    .text-dashboard {
        padding-left: 18px;
        font-size: 18px;
        margin-top: 0;
    }
}

@media screen and (max-width: 992.22px) {
    .text-dashboard {
        padding-left: 9px;
    }
}

@media screen and (max-width: 768px) {
    .d-flex-center {
        justify-content: center;
    }

    .value_monthly_spk {
        position: relative !important;
        left: 151px !important;
    }

    .icon_circle_spk {
        position: relative !important;
        left: 149px !important;
    }

    .count_spk {
        position: relative !important;
        left: 148px !important;
    }

    .colon {
        position: relative !important;
        left: 150px !important;
    }

    .text-mp {
        margin-left: 10px;
        margin-top: 0;
    }

    .text-spk {
        margin-left: 2%;
        margin-top: -6px;
    }

    .card_icon_walets {
        position: relative !important;
        right: 19px !important;
    }

    .card_icon_paypal {
        position: relative !important;
        right: 16px !important;
    }

    .count_permintaan {
        position: relative !important;
        right: 14px !important;
        bottom: 10px !important;
    }

    .count_penajuan {
        position: relative !important;
        right: 14px !important;
        bottom: 8px !important;
    }
}

.text-mp {
    margin-left: 4.2%;
    color: #2D3748;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-top: -20px;
    font-family: Helvetica, sans-serif;
    line-height: 19.6px;
}

@media screen and (max-width: 990.00px) and (min-width: 555.56px) {
    .text-mp {
        margin-left: 18px;
        margin-top: -19px;
    }

    .fiturjam {
        margin-right: 17px;
    }
}

.total_pengajuan_dana {
    position: relative;
    left: 75px;
    top: 5px;
}

.total_pengajuan_spk {
    position: relative;
    left: 166.4px;
}

@media screen and (max-width: 991.11px) {
    .text-mp {
        margin-bottom: -5px;
    }

    .total-permintaan {
        position: relative !important;
        left: 59px !important;
        top: 83px !important;
    }

    .total-pengajuan {
        position: relative !important;
        left: 59px !important;
        top: 83px !important;
    }

    .iconwallet {
        font-size: 37px !important;
        position: relative !important;
        left: 39px !important;
    }

    .icon_paypal {
        font-size: 38px !important;
        position: relative !important;
        left: 34px !important;
    }

    .garis_spk {
        position: relative !important;
        bottom: 1px !important;
    }

    .total_pengajuan_spk {
        position: relative !important;
        left: 166.4px !important;
    }

    .total_pengajuan_dana {
        position: relative !important;
        left: 75px !important;
        top: 5px !important;
    }

    .text-dashboard {
        position: relative !important;
        right: 38px !important;
    }


}

@media screen and (max-width: 568.89px) {
    .text-mp {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 1560px) and (min-width: 992.22px) {
    .text-mp {
        margin-left: 29px;
    }

    .fiturjam {
        margin-right: 17px;
    }
}

.text-spk {
    margin-left: 0.2%;
    color: #2D3748;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-top: -20px;
    font-family: Helvetica, sans-serif;
    line-height: 19.6px;
}

/* Media queries untuk menyesuaikan margin berdasarkan lebar layar */
.breadcrumb-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: -3.7%;
}

.breadcrumb-master {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0.1%;
}

.breadcrumb-pengajuan-dana {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 1.3%;
}

.breadcrumb-spk {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 1.3%;
}

.span_home {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #A0AEC0;
    margin-left: 1px;
    font-family: Helvetica, sans-serif;

}

.span-mp {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A0AEC0;
    font-family: Helvetica, sans-serif;
}

.span_pd {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A0AEC0;
    font-family: Helvetica, sans-serif;
}

.span_spk {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A0AEC0;
    font-family: Helvetica, sans-serif;
}

.breadcum-mp-perintah {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: -5.6%;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}


.breadcum-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2D3748;
    margin-right: 21px;
    font-family: Helvetica, sans-serif;
}

.breadcum-mp {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}

.breadcum-pd {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}

.breadcum-spk {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2D3748;
    font-family: Helvetica, sans-serif;
}


.dropdown {
    margin-right: 2%;
}


.btn-sm {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.bg-white {
    background-color: #fff;
}

.dropdown-item {
    color: #718096;
    text-decoration: none;
}

.brand-logo {
    width: 230px;
    border: 2px solid #F8F9FA;
    border-radius: 5px;
    margin-left: 9.8px;
    margin-top: 28px;
}

.sidebar {
    height: auto;
}

.hr-rectangle {
    width: 233.25px;
    top: 94.5px;
    left: 24.5px;
    border: 0 #E0E1E2;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 188, 188, 0.75), rgba(0, 0, 0, 0));
}

.my-custom-card {
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 2px;
    /* right: 100px; */
    height: 158px;
    width: 365px;
    color: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboard_kihajar {
    font-size: 16.44px;
    font-weight: 400;
    line-height: 24.66px;
}

.username {
    font-size: 39px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:
        ellipsis;
    line-height: 65.03px;
    font-weight: 700;
}

.permintaan_card_spk {
    position: relative;
    top: 50px;
    text-align: center;
    color: #A1AEC1;
    font-weight: 700;
    font-size: 13px;
}

.pengajuan_card_spk {
    position: relative !important;
    top: 50px !important;
    text-align: center !important;
    color: #A1AEC1 !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}

.title_card_pd {
    position: relative;
    top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.title_card_spk {
    position: relative;
    top: 41px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.iconwallet {
    font-size: 40px;
    background-color: #4FD1C5;
    color: #FFFFFF;
    position: relative;
    left: 52px;
    top: 20px;
    padding: 11px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.icon_paypal {
    font-size: 40px;
    background-color: #4FD1C5;
    color: #FFFFFF;
    position: relative;
    left: 52px;
    top: 20px;
    padding: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.backgorund_card_pd {
    height: 284px;
}

.backgorund_card_spk {
    height: 284px;
}


.hr-card {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 181, 181, 0.75), rgba(0, 0, 0, 0));
    position: relative;
    top: 4px;
}

.hr_spk_card {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 181, 181, 0.75), rgba(0, 0, 0, 0));
}

.total-pengajuan {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 84px;
    left: 79px;
}

.total-permintaan {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 78px;
    left: 76px;
}


.hr_spk_card {
    position: relative !important;
    top: 66px !important;
}

.garis_pengajuan_dana {
    position: relative;
    top: 60px;
}

.text-active {
    font-size: 12.69px;
    line-height: 19.04px;
    color: #A0AEC0;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.text-pt {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26.63px;
    color: #343C6A;
    font-weight: 600;
    margin-left: 19px;
}

.card-menu {
    margin-left: 20px;
}

.card-menu-pd {
    color: #718EBF;
    transition: color 0.3s;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 19.36px;
}

.nav-link.active {
    color: rgb(79, 209, 197) !important;
    border-bottom-color: rgb(79, 209, 197) !important;
    border-bottom-width: 2px;
    font-weight: bold;
}

.nav-link {
    background-color: transparent;
    border: none;
    transition: background-color 0.3s;
}

.tr-table {
    color: #718EBF;
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
}

.Column_td {
    color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19.36px;
}

.column_th {
    color: #718EBF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19.36px;
}

.btn-action {
    border-radius: 6px;
    border: 1px solid #1814F3;
    padding: 5px 10px;
}

.show-button {
    color: #1814F3;
    font-size: 18px;
    border: none;
    padding: 0;
    margin-left: 8px;
}

.button-logout {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15.4px;
    line-height: 18px;
    color: #718096;
    margin-right: -9px;
}

/* @media screen and (max-width: 1440px) {
    .button-logout {
        margin-right: -px;
    }
} */

/* CSS untuk tooltip */
.tooltip-container {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    width: auto;
    min-width: 80px;
    /* Lebar minimum tooltip */
    background-color: #F2F2F2;
    color: #232323;
    text-align: center;
    border-radius: 7px;
    /* Radius sudut */
    padding: 6px 10px;
    position: absolute;
    bottom: -23px;
    /* Geser ke bawah */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-edit,
.tooltip-show,
.tooltip-delete {
    visibility: hidden;
    width: auto;
    min-width: 80px;
    /*Lebarminimumtooltip*/
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 7px;
    /*Radiussudut*/
    padding: 4px 8px;
    position: absolute;
    /* bottom: 40px; */
    /*Geserkebawah*/
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.tooltip-edit {
    color: #232323;
    bottom: 40px;
}

.tooltip-show {
    color: #232323;
    bottom: -18px;
}

.tooltip-delete {
    color: #232323;
    bottom: 40px;
}

.tooltip-container:hover .tooltip-edit,
.tooltip-container:hover .tooltip-show,
.tooltip-container:hover .tooltip-delete {
    visibility: visible;
    opacity: 1;
}

.swal2-title-custom {
    color: #FFA500 !important;
    font-weight: 700 !important;
    font-family: Helvetica, sans-serif !important;
}

.btn-label {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.tambah-perintah {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.btn-perintah {
    background-color: #4FD1C5;
    margin-top: 16.5px;
}

.data-table-cell {
    text-align: center;
    color: #232323;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.data-table-cell.nama_project {
    text-align: left;
}


/* CSS untuk kolom data yang memerlukan white-space: nowrap */
.data-table-cell.nowrap {
    white-space: nowrap;
}

.table th {
    color: #718EBF;
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
}

.labelentris {
    color: #A0AEC0;
    position: relative;
    left: 91px;
    bottom: 26px;
}


@media (max-width: 500px) {
    .labelentris {
        position: relative;
        left: 91px;
    }

    .select_entries {
        position: relative;
        left: 10px;
    }

    .table_master_projek {
        position: relative !important;
        top: 1px !important;
    }
}

.border-container {
    position: relative;
    border: 1px solid #E2E8F0;
    border-radius: 3rem;
    background-color: #FFFFFF;
    height: 45px;
}

.border-container:focus-within {
    border-color: #4FD1C5;
}

.border-container input[type="text"] {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    height: 100%;
    margin-left: 13px;
}

.border-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}


/* CSS untuk membuat elemen tersebut responsif */
@media (max-width: 90px) {
    .row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }


    .col-md-6 {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    #dataTableSearchForm {
        margin: 0 auto;
        width: auto;
        margin-right: 10px;
    }

    .col-md-6.search-form {
        text-align: center;
    }

    .col-md-6.add-button {
        justify-content: center;
    }
}


.table-responsive {
    overflow: hidden;
}

.btn-save {
    background-color: #4FD1C5;
    width: 200px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 68px;
    font-family: Helvetica, sans-serif;
}


.drop-container {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 7px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.drop-container:hover,
.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    font-size: 11px;
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #4FD1C5;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input[type=file]::file-selector-button:hover {
    background: #64D6CA;
}

/* scrollbar card body spk */
.custom-card-body {
    overflow-y: auto;
    max-height: 600px;
}

.detail-text {
    visibility: hidden;
}

.hide-project {
    visibility: hidden;
}

.head-text {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    padding-left: 22px;
}

.head-item {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 29px;
}

.head-detail {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 19px;
}

.head-title {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 24px;
}

.head-pengaju {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 0;
}

.head-project {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 2px;
}

.dtl-text {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 20px;
}

.item-text {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
    margin-left: 31px;
}

.pengaju-text {
    visibility: visible;
    position: absolute;
    margin-top: 1px;
}

.button-tambah {
    background-color: #4FD1C5;
    border-radius: 5.55px;
    padding: 0 15px;
    color: #FFFFFF;
}

.button-tambah .btn-label,
.button-tambah span {
    font-size: 12px;
}




::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #F1F4FA;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #4FD1C5;
    border-radius: 20px;
    height: 4px;
}


.text-area {
    height: 115px;
}

.text-checkbox {
    font-size: 14px;
    padding-top: 1px;
    padding-left: 3px;
    line-height: 19.6px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.form-checkbox-kontrak {
    width: 73px;
    margin-bottom: 10px;
    background-color: #F8F9FA;
    margin-left: 10px;
}

.form-checkbox-brosur {
    width: 73px;
    margin-bottom: 10px;
    background-color: #F8F9FA;
    margin-left: 10px;
}

.form-checkbox-gambar {
    width: 73px;
    margin-bottom: 10px;
    background: #F8F9FA;
}

@media screen and (max-width: 555.56px) {
    .text-checkbox {
        font-size: 8px;
    }
}

.btn-modal-spk {
    background-color: #4FD1C5;
    color: #FFFFFF;
}

.button-delete {
    position: relative;
    bottom: 16px;
    right: 3px;

}

@media screen and (max-width: 1600.00px) {
    .button-delete {
        margin-top: 6%;
        margin-left: 7px;
        height: 38px;
    }
}


.JS-button-delete {
    position: relative;
    left: 2px;
}

.input_name_item {
    position: relative;
    right: 8px;
}

.column_input_name_item {
    position: relative;
    right: 25px;
}

.column-name-pemohon {
    position: relative;
    left: 24px;
}

.column-jabatan {
    position: relative;
    right: 37px;
}