/* CSS PENGAJUAN DANA */
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
}

th,
td {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 0;
}

.table-header {
    width: 80px;
}

.text-pengajuan-dana {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    width: 10px;
}

.text-date-table {
    font-size: 10px;
}

.coloumn-tanggal-pengajuan {
    font-size: 14.5px;
    border-bottom: 0px;
    width: 120px;
    padding-left: 3px;
}

.coloumn-no-doc {
    font-size: 14.5px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 3px;
}

.column-revisi {
    border-top: 0px;
    font-size: 14.5px;
    padding-left: 3px;
}

.column-subject {
    width: 266px;
    font-size: 14.5px;
    padding-left: 3px;
}

.column_nama_pemohon {
    font-size: 14.5px;
    padding-left: 3px;
}

.detail_pengajuan_dana {
    font-size: 14.5px;
    padding-left: 8px;
}

.data_lokasi {
    font-size: 14.5px;
    padding-left: 8px;
}

.data_batas_waktu {
    font-size: 14.5px;
    padding-left: 8px;
}

.data_nominal {
    font-size: 14.5px;
    padding-left: 8px;
}

.data_no_rekening {
    font-size: 14.5px;
    padding-left: 8px;
}

.data_catatan {
    font-size: 14.5px;
    padding-left: 8px;
}

.teks_drafting {
    font-size: 14.5px;
    padding-left: 8px;
}

.column-diajukan {
    font-size: 14.5px;
    text-align: center;
    font-weight: bold;
}

.column_persetujuan {
    font-size: 14.5px;
    text-align: center;
    font-weight: bold;
}

.head_pengajuan_dana {
    padding-bottom: 2%;
}

.items_pengajuan_dana {
    position: relative;
    bottom: 1%;
}

.label_pemohon {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    left: 50px;
}

.tanda_tangan {
    border-right: 1px solid black;

    height: 300px;
}


.pemohon {
    border: 1px solid black;
    width: 205px;
}

.colon_nama {
    padding-left: 14px;
}

.colon_jabatan {
    padding-left: 3px;
}

.colon_date {
    padding-left: 21px;
}

.colon_date_approval {
    padding-left: 19px;
}


/* CSS SURAT PERINTAH KERJA */

.frame_box_spk {
    outline: 2px solid black;
    height: 1250px;
}

.frame_box_spb {
    outline: 2px solid black;
    height: 1250px;
}

.right_box_position {
    border-right: 2px solid black;
    margin-right: 4px;
    height: 1250px;
}

.right_box_position_spb {
    border-right: 2px solid black;
    margin-right: 4px;
    height: 1250px;
}

.bottom_box_position {
    border-bottom: 3px solid black;
    /* position: relative; */
    margin-top: 55px;
    width: 950px;
}

.table_form_project {
    position: relative;
    left: 16px;
    width: 100px;
    font-size: 16px;
}

.label_kode_project {
    border: 1.5px solid black;
    line-height: normal;
    width: 245px;
    padding-left: 5px;
}

.colon_kode_project {
    border: 1.5px solid black;
    line-height: normal;
    font-weight: normal;
    width: 15px;
    padding-left: 5px;
}

.value_kode_project {
    border: 1.5px solid black;
    line-height: normal;
    padding-left: 5px;
    width: 283px;
}

.label_nama_project {
    border: 1.5px solid black;
    padding-left: 5px;
}

.colon_nama_project {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_nama_project {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_no_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_no_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_no_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_user {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_user {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_user {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_tanggal_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_tanggal_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_tanggal_spk {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_contractor {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_contractor {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_contractor {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_prioritas {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_prioritas {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_prioritas {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_manager_project {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_manager_project {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_manager_project {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_batas_waktu {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_batas_waktu {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_batas_waktu {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.table_approval_spk {
    width: 933px;
}

.name_pic {
    text-align: right;
    padding-right: 6%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.title_company {
    color: #1066ad;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.sub-title-spk {
    color: #000000;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 6px;
    font-weight: bold;
}

.Yth {
    padding-left: 140px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 1px;
}

.teks_pelaksanaan {
    position: relative;
    bottom: 7px;
    left: 290px;
    font-size: 20px;
}

.border_horizontal {
    position: relative;
    bottom: 40px;
}

.border_horizontal_bottom {
    margin-top: 10px;

}

.hr_dokumen {
    background-color: #000;
    height: 0.5px;
    width: 65%;
    position: relative;
    left: 42px;
    top: 2.5%;
}


.border_horizontal_1 {
    border-bottom: 2px solid black;
    width: 951px;
    position: relative;
    top: 3%;
}

.border_horizontal_2 {
    border-bottom: 2px solid black;
    width: 951px;
    position: relative;
    top: 0.8%;
}

.supporting_documents {
    position: relative;
    top: 8px;
}

.border_horizontal_3 {
    border-bottom: 2px solid black;
    width: 951px;
    position: relative;
    top: 3%;
}

.border_horizontal_4 {
    border-bottom: 2px solid black;
    width: 951px;
    position: relative;
    top: 0.8%;
}

.detail_spk {
    position: relative;
    top: 50px;
    width: 935px;
    left: 14.8px;
}

.jenis_pekerjaan {
    border: 1.8px solid black;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    width: 340px;
    padding-left: .8px;
    font-weight: bold;
}

.uraian_pekerjaan {
    border: 1.5px solid black;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    padding-left: 16px;
    font-weight: bold;
    border-right: none;
}

.value_jenis_pekerjaan {
    border: 1.5px solid black;
    text-align: center;
    vertical-align: top;
    height: 250px;
}

.value_uraian_pekerjaan {
    border: 1.5px solid black;
    border-right: none;
    padding-left: 5px;
    text-align: left;
    vertical-align: top;
    height: 250px;
}

/* .approval_spk {
    position: fixed;
    bottom: 1px;
    width: 875px;
    left: 15px;
} */

/* .hormat_kami {
    position: absolute;
    top: 85px;
    left: 23px;
} */


.teks_dokumen_pendukung {
    padding-left: 2.9%;
    position: relative;
    top: 39px;
}

.teks_file_pendukung {
    padding-left: 2.9%;
    position: relative;
    top: 5%;
}

.checkbox_brosur .box2 {
    width: 18px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1.5px solid #000;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox_brosur .box2:checked {
    background-color: #ffffff;
}

.checkbox_brosur .box2:checked::after {
    content: '✓';
    font-size: 20px;
    color: #000000;
    position: relative;
    bottom: 9px;
    left: 2px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.checkbox_brosur .box2::before {
    content: '';
    display: none;
}


.checkbox_gambar .box1 {
    width: 25px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1.5px solid #000;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox_gambar .box1:checked {
    background-color: #ffffff;
}

.checkbox_gambar .box1:checked::after {
    content: '✓';
    font-size: 20px;
    color: #000000;
    position: relative;
    bottom: 9px;
    left: 6px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.checkbox_gambar .box1::before {
    content: '';
    display: none;
}

.form_number_spk {
    /* position: relative; */
    padding-top: 230px;
}

.value_form_number {
    margin-left: 76%;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 43px;
}

.page-break {
    /* page-break-after: always; */
    page-break-inside: avoid;
}


/* CSS Surat Permintaan Barang */

.Company {
    color: #1066ad;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.title_permintaan_barang {
    color: #000000;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 6px;
    font-weight: bold;
}

.General_Affair {
    padding-left: 169px;
    font-size: 20.8px;
    font-weight: bold;
    position: relative;
    bottom: 1px;
}

.pelaksanaan {
    position: relative;
    bottom: 7px;
    left: 315px;
    font-size: 18.4px;
}


.table_form_project_permintaan_barang {
    position: relative;
    left: 16px;
    width: 100px;
    font-size: 16px;
}

.label_kode_project_permintaan_barang {
    border: 1.5px solid black;
    line-height: normal;
    width: 245px;
    padding-left: 5px;
}

.colon_kode_project_permintaan_barang {
    border: 1.5px solid black;
    line-height: normal;
    font-weight: normal;
    width: 15px;
    padding-left: 5px;
}

.value_kode_project_permintaan_barang {
    border: 1.5px solid black;
    line-height: normal;
    padding-left: 5px;
    width: 283px;
}

.label_nama_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
}

.colon_nama_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_nama_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_no_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_no_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_no_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_user_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_user_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_user_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_tanggal_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_tanggal_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_tanggal_spk_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_contractor_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_contractor_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_contractor_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_prioritas_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_prioritas_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_prioritas_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.label_manager_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_manager_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
}

.value_manager_project_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 283px;
}

.label_batas_waktu_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 163px;
}

.colon_batas_waktu_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 11px;
}

.value_batas_waktu_permintaan_barang {
    border: 1.5px solid black;
    padding-left: 5px;
    width: 165px;
}

.box_detail {
    border-top: 1.8px solid black;
    border-left: 1.8px solid black;
    border-bottom: 1.8px solid black;
    margin-top: 38px;
    width: 926.5px;
    height: auto;
    margin-left: 14.8px;
    padding: 4.5px;
}

/* .detail_pekerjaan {
    margin-top: 50px;
    width: 927px;
    margin-left: 23px;
} */

.jenis_pekerjaan_PB {
    border: 1.8px solid black;
}

.spefikasi_pekerjaan_PB {
    border: 1.8px solid black;
    width: 233px;
    border-bottom: none;
}

.jumlah_PB {
    width: 165px;
    border: 1.8px solid black;
}

.keterangan_pekerjaan_PB {
    border: 1.8px solid black;
    border-right: none;
}

.hidden_column_detail {
    border-top: none;
    border-bottom: none;
    width: 0px;
}

.value_jenis_pekerjaan_PB {
    border: 1.8px solid black;
    text-align: center;
    border-bottom: none;
    width: 30%;
}

.value_spefikasi_pekerjaan_PB {
    border: 1.8px solid black;
    border-bottom: none;
}

.value_jumlah_PB {
    border: 1.8px solid black;
    border-bottom: none;
}

.value_keterangan_pekerjaan_PB {
    border: 1.8px solid black;
    border-right: none;
    border-bottom: none;
    word-wrap: break-word;
    width: 100%;
}

.page-break {
    page-break-before: always;
}