/* public/sets/css/piclogin.css */

.codew-png {
    margin-top: 290px;
    width: 211.79px;
    height: 274.98px;
    padding-left: 1px;
    margin-left: 9px;
}

.dewantara-teks {
    font-size: 48.95px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-top: 470px;
    letter-spacing: -2%;
    line-height: 48.95px;
    white-space: nowrap;
    padding-left: 71px;
    /* margin-left: 32px; */
}

.rectangle {
    width: 471px;
    height: 134.05px;
    border-radius: 26.37px;
    border: 2.2px solid #FFFFFF;
    background-color: transparent;
    margin-top: 628px;
    text-align: center;
}

@media screen and (max-width: 768.89px) {
    .rectangle {
        width: 370px;
    }

    .dewantara-teks {
        font-size: 35px;
        padding-right: 30px;
    }

    .codew-png {
        width: 165px;
        height: 230px;
    }

    .copyright {
        padding-right: 50px;
        font-size: 12px;

    }
}

@media screen and (max-height: 651.11px) {
    .dewantara-teks {
        font-size: 30px;
        padding-right: 30px;
        margin-top: 350px;
    }

    .codew-png {
        width: 150px;
        height: 150px;
        margin-top: 250px;
    }

    .copyright {
        padding-right: 50px;
        font-size: 12px;

    }

    .rectangle {
        margin-top: 450px;
        width: 360px;
    }
}

@media screen and (max-width: 934.44px) {
    .rectangle {
        width: 370px;
    }

    .dewantara-teks {
        font-size: 35px;
        padding-right: 30px;
    }

    .codew-png {
        width: 165px;
        height: 230px;
    }

    .copyright {
        padding-right: 70px;
        font-size: 12px;
    }
}

.intek-company {
    text-align: center;
    color: #FFFFFF;
    line-height: 80.58px;
    font-size: 17.58px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

.kihajar-com {
    line-height: 5px;
    margin-left: -0.4%;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 29.3px;
}

/* heading sign in */
.signin-heading {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -2%;
    color: #4FD1C5;
    margin-bottom: 40px;
}

/* welcome login */
.welcome-message {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #A3AED0;
    margin-bottom: 40px;
}

.garis-horizontal {
    display: flex;
    /* Menggunakan flexbox */
    justify-content: space-between;
    align-items: center;
}

.bagian {
    width: 48%;
    /* Lebar setiap bagian */
    height: 1px;
    /* Ketebalan garis */
    background-color: #E0E5F2;
    /* Warna garis */
}

/* Menambahkan media query untuk menyesuaikan tata letak pada layar yang lebih kecil */
@media screen and (max-width: 768px) {
    .separator-left {
        left: 13%;
        width: 29%;
    }

    .separator-right {
        right: 15%;
        width: 32%;
    }
}



/* label email */
.email-address {
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -2%;
    color: #2B3674;
}

/* label password */
.password-address {
    margin-top: 80px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -2%;
    color: #2B3674;
}


/* kolom input email */
.custom-input {
    width: 390px;
    height: 50px;
    margin-bottom: 118%;
}

.custom-input .form-control {
    width: 100%;
    height: 100%;
    border: 2px solid #ced4da;
    border-radius: 16px;
    padding: 10px;
}

.custom-input .form-control:focus {
    border-color: #4FD1C5;
    box-shadow: 0 0 0 0.2rem rgba(79, 209, 197, 0.25);
}

/* kolom input password */
.custom-password-input {
    width: 391px;
    height: 50px;
    margin-bottom: 20px;
}

.custom-password-input .form-control {
    width: 100%;
    height: 100%;
    border: 2px solid #ced4da;
    border-radius: 16px;
    padding: 10px;
}


.custom-password-input .form-control:focus {
    border-color: #4FD1C5;
    box-shadow: 0 0 0 0.2rem rgba(79, 209, 197, 0.25);
}

/* Input email dan password dalam mode fokus */
input[type=email]:focus,
input[type=password]:focus {
    border: 3px solid #3e96d9;
    box-shadow: 0 0 0 0.2rem rgba(19, 107, 209, 0.25);
}


.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-left: 180px;
    left: 0;
    color: #A3AED0;
}

/* @media (max-width: 768px) {
    .copyright {
        text-align: center;
        left: 0;
        padding-left: 0;
    }
} */

/* Efek hover untuk tombol Sign In */
.btn.signin-button {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn.signin-button:hover {
    opacity: 0.8;
}

.custom-password-input {
    position: relative;
}

#toggleIcon {
    position: absolute;
    top: 245%;
    transform: translateY(-50%);
    right: 17px;
    cursor: pointer;
    color: #A3AED0;
    height: 15.5px;
    width: 25.33px;
}